@model iNQUIRE.Models.ChangeUserNameViewModel

@{
    ViewBag.Title = "Change User Name";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeUserName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change User Name Form</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <label class="col-md-2 control-label">Current User Name</label>
        <div class="col-md-2">
            <div class="form-control">@ViewBag.UserName</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @Value = ViewBag.UserName })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change user name" class="btn btn-default" />
            <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Manage")'" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}