<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("~/Views/Shared/_fbMeta.cshtml")

    <title>@ViewBag.Title - iNQUIRE v2.0</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/sammy")
    @Scripts.Render("~/bundles/openid")
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>

    @Html.Partial("~/Views/Shared/_Facebook.cshtml");

    <header id="cd-header-wrapper">
        <div class="cd-main-header">
            <div>
                @Html.Partial("~/Views/Shared/_Logo.cshtml")

                <nav class="cd-nav">
                    <ul class="cd-top-nav">
                        @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                    </ul>
                </nav>
            </div>
        </div> <!-- .cd-main-header -->

        <div class="cd-sub-header"></div>
    </header>

    <main class="cd-main-content">

        <div class="content-wrapper">
            @RenderBody()
            @*@Html.Partial("~/Views/Shared/_Footer.cshtml")*@
        </div>
    </main>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery.menu-aim")
    @Scripts.Render("~/bundles/jquery-ui")
    @RenderSection("scripts", required: false)

    @Html.Partial("~/Views/Shared/_HeaderJS.cshtml")

    @Html.Partial("~/Views/Shared/_GoogleAnalytics.cshtml")

</body>
</html>
